In [1]:
import pandas as pd

In [5]:
#Read from the csv file into a DataFrame Object
df=pd.read_csv(r"C:\Users\W1tcher\Downloads\gapminder.tsv", sep='\t')

In [6]:
#Print the contents 
print(df)

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [7]:
# Get the number of rows and columns
print(df.shape)

(1704, 6)

In [8]:
# Get the data type of all columns
print(df.dtypes)

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [9]:
# Print information about the data
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [10]:
#Print the first 5 records
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [11]:
#Print the last 5 records
print(df.tail())

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [12]:
# Extract individual columns from the DataFrame
print(df['country'])

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [13]:
# Print data at a given index
#iloc -1 selects the last col
print(df.iloc[[0,99,999]])

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [14]:
# Select a subset of data (vertical distribution)
print(df.iloc[:,[1,2,3,4]])

     continent  year  lifeExp       pop
0         Asia  1952   28.801   8425333
1         Asia  1957   30.332   9240934
2         Asia  1962   31.997  10267083
3         Asia  1967   34.020  11537966
4         Asia  1972   36.088  13079460
...        ...   ...      ...       ...
1699    Africa  1987   62.351   9216418
1700    Africa  1992   60.377  10704340
1701    Africa  1997   46.809  11404948
1702    Africa  2002   39.989  11926563
1703    Africa  2007   43.487  12311143

[1704 rows x 4 columns]

In [15]:
# Select a subset of data (vertical distribution)
print(df.iloc[:,1:4])

     continent  year  lifeExp
0         Asia  1952   28.801
1         Asia  1957   30.332
2         Asia  1962   31.997
3         Asia  1967   34.020
4         Asia  1972   36.088
...        ...   ...      ...
1699    Africa  1987   62.351
1700    Africa  1992   60.377
1701    Africa  1997   46.809
1702    Africa  2002   39.989
1703    Africa  2007   43.487

[1704 rows x 3 columns]

In [16]:
# Grouping the data and apply aggregated functions
print(df.groupby('year')['lifeExp'].mean())

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [ ]:
# Grouping the data and apply aggregated functions
#TODO: interesting 
gb=df.groupby('continent')
print(gb.size())

continent
Africa      624
Americas    300
Asia        396
Europe      360
Oceania      24
dtype: int64

In [18]:
# Create a series from a dataframe object
ds=df['continent']

In [19]:
# Print the contents
print(ds)

0         Asia
1         Asia
2         Asia
3         Asia
4         Asia
         ...
1699    Africa
1700    Africa
1701    Africa
1702    Africa
1703    Africa
Name: continent, Length: 1704, dtype: object

In [20]:
# Confirm the data type
print(ds.info())

<class 'pandas.core.series.Series'>
RangeIndex: 1704 entries, 0 to 1703
Series name: continent
Non-Null Count  Dtype
--------------  -----
1704 non-null   object
dtypes: object(1)
memory usage: 13.4+ KB
None