In [16]:
# AIG150 Midterm Test I 
# Max Marks 60
# Time Allowed: 60 Minutes

# Instructions

#	You are allowed to bring a reference sheet (A4-both sided).
#	Use font “Arial- size 10” minimium, print your name on top of the reference sheet.
#	The sheet must be submitted with the test.
#	As a Seneca student, you must conduct yourself in an honest and trustworthy manner in all aspects of your academic career.
#   A dishonest attempt to obtain an academic advantage is considered an offense and will not be tolerated by the College. 
#   Rename the file with the l e   w i me
#  Once you are done, upload the file on BB ( ONLY ONE SUBMISSION IS ALLOWED)

SyntaxError: source code string cannot contain null bytes (<string>)

In [ ]:
# Download the given csv file

In [ ]:
import pandas as pd
import numpy as np
stroke=pd.read_csv('stroke.csv')
stroke

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43395,56196,Female,10.0,0,0,No,children,Urban,58.64,20.4,never smoked,0
43396,5450,Female,56.0,0,0,Yes,Govt_job,Urban,213.61,55.4,formerly smoked,0
43397,28375,Female,82.0,1,0,Yes,Private,Urban,91.94,28.9,formerly smoked,0
43398,27973,Male,40.0,0,0,Yes,Private,Urban,99.16,33.2,never smoked,0
43399,36271,Female,82.0,0,0,Yes,Private,Urban,79.48,20.6,never smoked,0

In [ ]:
# Using the stroke dataframe, you have to write commands for Q 1-10.
# Each command is worth 3 marks [ In total 30 marks].

In [ ]:
#1. Show the data type for each of the columns in stroke dataframe.
print(stroke.dtypes)

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [ ]:
#2. Convert the hypertension column dtype to string then show the type for each of the columns.

In [ ]:
stroke['hypertension'] = stroke['hypertension'].astype(str)
print(stroke.dtypes)

id                     int64
gender                object
age                  float64
hypertension          object
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [ ]:
#3. Count the number of missing values for the column "age".

In [ ]:
print(stroke['age'].isna().sum())

0

In [ ]:
#4. Replace the missing values under the age column with the mean age.

In [18]:
stroke['age'] = stroke['age'].fillna(stroke['age'].mean())
stroke['age']

0         3.0
1        58.0
2         8.0
3        70.0
4        14.0
         ...
43395    10.0
43396    56.0
43397    82.0
43398    40.0
43399    82.0
Name: age, Length: 43400, dtype: float64

In [ ]:
#5. Use iloc and slice every other column up to 5 inclusive into a dataframe subset. Then show the first 5 obs of the dataframe subset.

In [19]:
stroke_subset = stroke.iloc[:,:6:2]
stroke_subset.head()

      id   age  heart_disease
0  30669   3.0              0
1  30468  58.0              0
2  16523   8.0              0
3  56543  70.0              0
4  46136  14.0              0

In [ ]:
#6. Print the subset of bmi that are more than mean bmi value.

In [22]:
bmi_subset = stroke[stroke['bmi']>stroke['bmi'].mean()]['bmi']
bmi_subset

1        39.2
3        35.9
5        50.1
8        32.3
9        54.6
         ...
43390    31.2
43393    31.6
43396    55.4
43397    28.9
43398    33.2
Name: bmi, Length: 18898, dtype: float64

In [ ]:
#7.  Show the average age for females only.

In [26]:
avg_f_age = stroke[stroke['gender']=='Female']['age'].mean()
print(avg_f_age)

42.737703487239436

In [ ]:
#8. Count the number of married records(records with ever_married ='yes').

In [30]:
married_count = stroke[stroke['ever_married']=='Yes']['ever_married'].count()
print(married_count)

27938

In [ ]:
#9. Display the list of unique values for the column "work_type".

In [31]:
unique_work_type = stroke['work_type'].unique()
unique_work_type

array(['children', 'Private', 'Never_worked', 'Self-employed', 'Govt_job'],
      dtype=object)

In [ ]:
#10. Show the quantile table for the numerical columns of stroke dataset using the quantile() function.

In [ ]:
numerical_columns = stroke.select_dtypes(include=['number'])

quantile_table = numerical_columns.quantile([0.25, 0.5, 0.75])

print(quantile_table)

            id   age  heart_disease  avg_glucose_level   bmi  stroke
0.25  18038.50  24.0            0.0              77.54  23.2     0.0
0.50  36351.50  44.0            0.0              91.58  27.7     0.0
0.75  54514.25  60.0            0.0             112.07  32.9     0.0

In [ ]:
# Question 11- 15, each is worth 6 marks [ In total 30 marks]

In [ ]:
#11. Add a new column called Smoker to the dataframe that takes the following values:
#           smoking_status= smokes  value=2
#           smoking_status= formerly smokes  value=1
#           in all the other cases value=0

In [ ]:
stroke['Smoker'] = 0

for i_index, i_item in enumerate(stroke['smoking_status']):
    if i_item == 'smokes':  
        stroke.at[i_index, 'Smoker'] = 2
    elif i_item == 'formerly smoked':  
        stroke.at[i_index, 'Smoker'] = 1

print(stroke['Smoker'])

0        0
1        0
2        0
3        1
4        0
        ..
43395    0
43396    1
43397    1
43398    0
43399    0
Name: Smoker, Length: 43400, dtype: int64

In [ ]:
#12. Define a function called "riskScore" that calculates a risk score based on whether the patient has hypertension, has heart disease and the bmi value.
#   The function accepts scalar parameters:hypertension,heat_disease and bmi.
#   The sum of hypertension and heart_disease contribute to the risk score. 
#   In addition, if bmi > 50, you should increment the risk score by 1.
#   The header of the function is given below:

In [41]:
def riskScore(hypertension, heart_disease, bmi):
    risk_score = hypertension + heart_disease

    if bmi > 50:
        risk_score += 1

    return risk_score

In [ ]:
#13. Vectorize the function "riskScore" then call it with hypertension, heart_disease and bmi vectors of the stroke dataframe.
#    The return value should be assigned to a new column named risk_score in the stroke dataframe.
#    Print the first 5 values of "risk_score" column.

In [44]:
risk_score_vectorized = np.vectorize(riskScore)
stroke['bmi'] = pd.to_numeric(stroke['bmi'], errors='coerce')
stroke['hypertension'] = pd.to_numeric(stroke['hypertension'], errors='coerce')
stroke['heart_disease'] = pd.to_numeric(stroke['heart_disease'], errors='coerce')
stroke['risk_score'] = risk_score_vectorized(stroke['hypertension'], stroke['heart_disease'], stroke['bmi'])

stroke['risk_score'].head()

c:\Users\W1tcher\anaconda3\envs\myenv\Lib\site-packages\numpy\lib\_function_base_impl.py:2480: RuntimeWarning: invalid value encountered in riskScore (vectorized)
  outputs = ufunc(*inputs)

0    0
1    1
2    0
3    0
4    0
Name: risk_score, dtype: int64

In [ ]:
#14. Show the average, min and max age per residentce_type and Work_type. Use agg function and rename the columns as min age,
#    max age and avg age and also flatten the dataframe.

In [ ]:
agg_df_results = stroke.groupby(['Residence_type', 'work_type'])['age'].agg(min_age='min', max_age='max', avg_age='mean'
).reset_index()

print(agg_df_results)

  Residence_type      work_type  min_age  max_age    avg_age
0          Rural       Govt_job    13.00     82.0  48.912307
1          Rural   Never_worked    13.00     31.0  16.916667
2          Rural        Private    13.00     82.0  44.976786
3          Rural  Self-employed     7.00     82.0  59.192799
4          Rural       children     0.08     16.0   6.809371
5          Urban       Govt_job    14.00     82.0  49.282098
6          Urban   Never_worked    13.00     64.0  18.516129
7          Urban        Private     8.00     82.0  45.052741
8          Urban  Self-employed    13.00     82.0  59.426097
9          Urban       children     0.08     16.0   6.588848

In [ ]:
#15. Calculate a grouped zscore for avg_glucose_level value based on gender.  
#    Also calculate a non-grouped zscore for avg_glucose_level value. 
#   Show the first 5 obs of each series.

In [47]:
stroke['zscore_non_grouped'] = (stroke['avg_glucose_level'] - stroke['avg_glucose_level'].mean())/ stroke['avg_glucose_level'].std()

stroke['zscore_grouped'] = stroke.groupby('gender')['avg_glucose_level'].transform(lambda x: (x - x.mean())/ x.std())

print(stroke[['avg_glucose_level', 'zscore_non_grouped', 'zscore_grouped']].head())

   avg_glucose_level  zscore_non_grouped  zscore_grouped
0              95.12           -0.217174       -0.248756
1              87.96           -0.383254       -0.407429
2             110.89            0.148620        0.184665
3              69.04           -0.822113       -0.820770
4             161.28            1.317442        1.217421