In [ ]:
# AIG150 Fall 2024
# Week 2 Sample Code
# Mathusan Thanabalasingam
# working with RDBMS

In [28]:
# NOTE: I created my own database using https://www.freemysqlhosting.net/

import pandas as pd
import mysql.connector

# Replace with your actual database credentials
mydb = mysql.connector.connect(
  host="sql5.freemysqlhosting.net",
  user="sql5731151",
  password="qe2tuyaYtZ",
  database="sql5731151"
)

# Create a cursor object
mycursor = mydb.cursor()

# Define your SQL query
sql_query = "SELECT * FROM countries"

# Read data into a pandas DataFrame
df = pd.read_sql(sql_query, mydb)

# Close the database connection
mydb.close()

# Now you can work with the DataFrame 'df'
print(df.head())

  country_id country_name  region_id
0         AR    Argentina          2
1         AU    Australia          3
2         BE      Belgium          1
3         BR       Brazil          2
4         CA       Canada          2

<ipython-input-28-008ca9917a7a>:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, mydb)